<!-- Info ueber aktuell laufende Playlist -->
<ng-container *ngFor="let file of files$ | async; let i = index">

  <!-- Titel. Fett anzeigen -->
  <div (click)="jumpTo(i)"
       class="item"
       [class.waiting]="i === jumpPosition"
       [class.font-weight-bold]="i === position">{{(i + 1).toString().padStart(2, "0")}} - {{file|fileName}}

    <!-- aktuelle Laufzeit, wenn das der gerade aktuelle Titel ist-->
    <ng-container *ngIf="i === position && time !== ''"> ({{time|timeformatter}})</ng-container>

    <!-- Spinner anzeigen, wenn zu diesem Titel gesprungen werden soll -->
    <i class="fa fa-spinner fa-spin"
       *ngIf="i === jumpPosition"></i>
  </div>
</ng-container>