@import "../../../scss/variables.scss";

:host {
    padding: 10px 0px;
}

.item {
    cursor: pointer;
    user-select: none;
    padding: 0.05em;

    &:hover:not(.active-item) {
        background: $color-light-bg-hover;
    }

    &.waiting {
        background: $color-light-bg-hover;
    }
}

.li-span {
    min-width: 24px;
    text-align: center;
}

/* ignore hover on mobile devices */
@media (hover: none) {
    .item {
        &:hover:not(.active-item):not(.waiting) {
            background: white;
        }
    }
}

label {
    &.unrounded {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    input {
        border: none;
    }
}
