<!-- Ueber Video-Array gehen und passende gefilterte und sortierte Liste ausgeben -->
<div *ngFor="let video of videos"
      class="row no-gutters align-items-center mt-2">

  <!-- Video in Playlist einfuegen oder von dort entfernen -->
  <button (click)="toggleInPlaylist(video)"
          class="fa button-clean mr-1"
          [ngClass]="{
          'fa-plus text-success': !isInPlaylist(video),
          'fa-minus text-danger': isInPlaylist(video)
        }">
  </button>

  <!-- formattierte Laenge des Videos -->
  <div class="video-length text-right mr-2">
    {{video.length | timeformatter}}
  </div>

  <!-- Button um einzelnes Video direkt zu starten -->
  <button (click)="playSingleVideo(video)"
          class="box col text-left pl-2"
          [class.active-video]="video.file === activeVideo">

    <!-- Play-Symbol wird nur bei hover und active angezeigt -->
    <i class="fa fa-play ml-1 mr-1"></i>

    <!-- Videoname -->
    {{video.name}}
  </button>
</div>