<!-- Player-Funktionen -->
<!-- vorheriges Item -->
<button (click)="changeItem(-1)"
        [class.invisible]="files.length === 1"
        [disabled]="position <= 0"
        class="ripple fa fa-fast-backward text-info button-clean"></button>

<!-- Item nach links spulen -->
<button (click)="seek(false)"
        [disabled]="position === -1"
        class="ripple fa fa-backward text-info button-clean"></button>

<!-- toggle pause restart -->
<button (click)="togglePausedRestart()"
        class="ripple fa button-clean text-info"
        [ngClass]='{
                "fa-play": paused && position !== -1,
                "fa-pause": !paused && position !== -1,
                "fa-repeat": position === -1
        }'></button>

<!-- Item nach rechts spulen -->
<button (click)="seek(true)"
        [disabled]="position === -1"
        class="ripple fa fa-forward text-info button-clean"></button>

<!-- naechstes Item -->
<button (click)="changeItem(1)"
        [class.invisible]="files.length === 1"
        [disabled]="position === (files.length - 1) || position === -1"
        class="ripple fa fa-fast-forward text-info button-clean"></button>