<!-- vorheriges Item -->
<button (click)="changeItem(false)"
        [disabled]="position === 0"
        class="ripple fa fa-fast-backward text-info button-clean"></button>

<!-- Item nach links spulen -->
<button (click)="seek(false)"
        class="ripple fa fa-backward text-info button-clean"></button>

<!-- toggle pause -->
<button (click)="togglePaused()"
        class="ripple fa button-clean"
        [ngClass]='{
                "fa-play text-success": paused,
                "fa-pause text-warning": !paused
        }'></button>

<!-- Item nach rechts spulen -->
<button (click)="seek(true)"
        class="ripple fa fa-forward text-info button-clean"></button>

<!-- naechstes Item -->
<button (click)="changeItem(true)"
        [disabled]="position === (files.length - 1)"
        class="ripple fa fa-fast-forward text-info button-clean"></button>