<!-- auesserer Container -->
<div class="app-width container-fluid mt-3 mb-3">

    <!-- Obere Zeile -->
    <div class="row no-gutters">

        <!-- Ueberschrift -->
        <h1 class="col">{{envName}} - Admin</h1>
    </div>

    <!-- Items vergleichen -->
    <button class="btn mb-3 mt-2"
            (click)="checkItemlist()">Vergleiche Items</button>

    <!-- Wenn es fehlende Dateien auf dem Server gibt -->
    <ng-container *ngIf="(diagnostic$ | async) as diagnostic">
        <div *ngIf="diagnostic.missing_server.length"
             class="margin-top-block">

            <!-- Ueberschrift -->
            <b>Auf dem Server fehlen</b>

            <!-- Fehlende Items auf Server ausgeben -->
            <div *ngFor="let item of diagnostic.missing_server">
                {{item}}
            </div>
        </div>

        <!-- Wenn es fehlende Dateien in Config gibt -->
        <div *ngIf="diagnostic.missing_browser.length"
             class="margin-top-block">

            <!-- Ueberschrift -->
            <b>In der Config fehlen</b>

            <!-- Fehlende Videos in Config ausgeben -->
            <div *ngFor="let item of diagnostic.missing_browser">
                {{item}}
            </div>
        </div>
    </ng-container>
</div>