<!--Wrapper fuer sichtbare Elemte, waehrend Anwendung laueft -->
<div *ngIf="!(shutdown$ | async); else shutdownTemp"
     class="app-content container no-gutters p-0 shadow">

    <!-- 1. Zeile: Countdown, Connection und Shutdown -->
    <div class="header row no-gutters align-items-center py-1 px-2">

        <!-- Link auf Player -->
        <div class="ml-2 cursor-pointer"
             routerLink="/">
            <i class="fa fa-chevron-left"></i>
            <span class="ml-2">Zum Player</span></div>

        <!-- Mix Playlist starten -->
        <div class="ml-3 cursor-pointer"
             (click)="startMixFolder()">
            <i class="fa fa-play"></i>
            <span class="ml-2">Mix starten</span>
        </div>

        <!-- Countdown -->
        <countdown class="ml-auto"></countdown>

        <!-- Zustand der WSS-Verbindung -->
        <connection></connection>

        <!-- Shutdown -->
        <picontrol></picontrol>
    </div>

    <!-- Name der aktuellen Playlist -->
    <div class="mb-2 p-1 pl-2 current-playlist">Gerade läuft: <b>{{activeItemName}}</b></div>

    <!-- 2. Zeile: Suchfeld -->
    <div class="d-flex mx-2 mt-3">

        <!-- Suchfeld: Label besteht aus Icon und Input -->
        <label class="search-field form-control d-flex no-gutters align-items-center p-1"
               for="searchField">

            <!-- Such-Symbol -->
            <i class="fa fa-search ml-2"></i>

            <!-- Suchefeld -->
            <input [formControl]="searchField"
                   autofocus
                   autocomplete="off"
                   id="searchField"
                   placeholder="Liste durchsuchen"
                   class="col ml-2"
                   id="search"
                   type="search"
                   name="search">
        </label>
    </div>

    <!-- 3. Zeile: Trefferliste der Dateisuche -->
    <div class="mx-2 mt-2">
        <div *ngFor="let searchFile of searchFiles | searchFilter:searchTerm | slice:0:10"
             class="d-flex align-items-center mb-2">

            <!-- Titel zu Mix-Ordner hinzufuegen -->
            <i class="fa fa-plus tag-sm d-flex align-items-center justify-content-center"
               (click)="addItem(searchFile)"></i>

            <!-- Name des Titels -->
            <span class="ml-2"
                  [highlight]="searchTerm">{{searchFile.path | fileName}}</span>
        </div>
    </div>

    <hr>

    <!-- Sortierbare Mix-Uebersicht (bereits existierende Dateien aus Ordner + neu aus Suche hinzugefuegte Dateien) -->
    <div class="mx-2 mt-3">
        <div [sortablejs]="mixFiles"
             (end)=sortDone()>
            <div *ngFor="let mixFile of mixFiles, index as index"
                 class="d-flex align-items-center mb-2">

                <!-- Sortier-Handle -->
                <i class="fa fa-bars tag-sm d-flex align-items-center justify-content-center sort-handle"></i>

                <!-- Name des Titels -->
                <span class="ml-2 flex-grow-1">{{mixFile.path | fileName:mixFile.type === 'old'}}</span>

                <!-- Titel aus Liste loeschen -->
                <i class="ml-auto fa fa-trash tag-sm d-flex align-items-center justify-content-center"
                   (click)="removeItem(index, mixFile)"></i>
            </div>
        </div>
    </div>

    <hr>

    <!-- Anederungen auf Server speichern, disabled wenn keine Aenderungen vorliegen -->
    <button class="ml-2 mb-2 btn"
            [ngClass]="{
                'mh-bg-primary': hasUnsavedChanges,
                'bg-secondary opacity-30': !hasUnsavedChanges}"
            [disabled]="!hasUnsavedChanges"
            (click)="saveChanges()">Speichern</button>

    <!-- Spinner waehrend Speichervorgang -->
    <i *ngIf="saving"
       class="ml-2 fa fa-spinner fa-spin"></i>
</div>

<!-- Anzeigen, wenn Pi heruntergefahren wurde -->
<ng-template #shutdownTemp>
    <div class="container mr-0 ml-0 no-gutters text-center">
        Der Player wurde beendet.
    </div>
</ng-template>