//Variable importerein
@import '~scss/variables.scss';
//eigene styles
.item {
    background: $color-light-bg;
    border-top: 1px solid $color-grey;
    &.item:last-of-type {
        border-bottom: 1px solid $color-grey;
    }
}

.remove-item {
    align-self: stretch;
    color: $color-grey;
    width: 35px;
    &:hover {
        background: $color-light-bg-hover;
    }
}

.play-item {
    align-self: stretch;
    color: $color-grey;
    width: 35px;
}

.start-playlist:hover {
    background: $color-light-bg-hover;
}