<!-- Ueber Items-Array gehen und die bereits gefilterte und sortierte Liste ausgeben -->
<button *ngFor="let item of items$ | async"
        (click)="showJoker || playSingleItem(item)"
        class="box col text-left pl-2"
        [ngClass]="{
          'active-item': item.mode + '/' + item.file === activeItem,
          'joker': showJoker,
          'light-bg': !showJoker,
          'opacity-50': jokerLock
        }">

  <!-- Zeile mit Joker-Buttons, (hover-) Playsymbol, Name der Playlist und Laenge -->
  <div class="row no-gutters align-items-center flex-nowrap">

    <!-- Joker setzen Buttons -->
    <button *ngIf="showJoker"
            [disabled]="jokerLock"
            class="btn btn-sm fa fa-heart p-1 mr-2 joker-laila"
            (click)="setJoker('laila', item)"></button>
    <button *ngIf="showJoker"
            [disabled]="jokerLock"
            class="btn btn-sm fa fa-heart p-1 mr-2 joker-luis"
            (click)="setJoker('luis', item)"></button>

    <!-- Play-Symbol wird nur bei hover und active angezeigt und nicht im Jokermodus-->
    <i *ngIf="!showJoker"
       class="fa fa-play fa-fw mr-1 opacity-50"></i>

    <!-- gekurzter Itemname mit Highlight -->
    <span class="flex-grow-1"
          [highlight]="searchTerm">{{item.name|fileName:modeFilter}}</span>

    <!-- formattierte Laenge des Items -->
    <div class="item-length item-length-audio text-right ml-1 mr-1">
      {{item.length | timeformatter}}
    </div>
  </div>

  <!-- Wenn Tracks angezeigt werden sollen, Tracks ausgeben (mit Highlight) -->
  <ul *ngIf="showTracks$ | async">
    <li *ngFor="let track of item.tracks"
        class="mr-1"
        [highlight]="searchTerm">
      {{track}}
    </li>
  </ul>
</button>