//Variable importerein
@import '~scss/variables.scss';
//eigenes styles
.box {
    //border-bottom: 1px solid $color-grey; //border-radius: $border-radius;
    border: none;
    border-top: 1px solid $color-grey;
    padding: 5px;
    background: $color-light-bg;
    cursor: pointer;
    .fa-play {
        display: none;
    }
    &:hover:not(.active-item) {
        background: $color-light-bg-hover;
        .fa-play {
            display: inline;
            opacity: .5;
        }
    }
    &.active-item {
        background: $color-light-bg-active;
        .fa-play {
            display: inline;
            opacity: 1;
        }
    }
    ul {
        margin-bottom: 0;
        padding-left: 25px;
        li {
            //list-style-type: decimal-leading-zero;
            color: $color-light-grey;
        }
    }
}

.item-length-audio {
    width: 69px;
}