@import '~scss/variables.scss';

.light-bg {
    background: $color-light-bg;
}

.joker {
    background: $color-light-bg;

    .joker-style {
        color: pink;
        height: 24px;
        border-radius: 100%;

        &:hover {
            background: rgba(pink, .3);
        }
    }
}

.box {
    border: none;
    border-top: 1px solid $color-light-border-grey;
    padding: 5px;
    width: 100%;

    .fa-play {
        color: $color-grey;
        display: none;
    }

    &:not(:disabled) {
        &:hover:not(.active-item):not(.joker) {
            background: $color-light-bg-hover;

            .fa-play {
                display: inline;
            }
        }
    }

    &.active-item {
        background: $color-light-bg-active;
        font-weight: bold;

        .fa-play {
            display: inline;
            opacity: 1;
        }
    }

    ul {
        margin-bottom: 0;
        padding-left: 21px;

        li {
            text-align: left;
            list-style-type: none;
            color: $color-light-grey;
        }
    }
}

@media (hover: none) {
    .box {
        &:hover:not(.active-item) {
            background: $color-light-bg !important;
        }
    }
}