//Variable importerein
@import '~scss/variables.scss';
//eigenes styles
.box {
    border: 1px solid $color-grey;
    border-radius: $border-radius;
    padding: 5px;
    background: $color-light-bg;
    cursor: pointer;
    .fa-play {
        display: none;
    }
    &:hover:not(.active-video) {
        background: $color-light-bg-hover;
        .fa-play {
            display: inline;
            opacity: .5;
        }
    }
    &.active-video {
        background: $color-light-bg-active;
        .fa-play {
            display: inline;
            opacity: 1;
        }
    }
}