<!-- Ueber Items-Array gehen und die bereits gefilterte und sortierte Liste ausgeben -->
<button *ngFor="let item of items$ | async"
        (click)="playSingleItem(item)"
        class="box col text-start ps-2 light-bg"
        [ngClass]="{
          'active-item': item.mode + '/' + item.file === activeItem
        }">

  <!-- Zeile mit (hover-) Playsymbol, Name der Playlist und Laenge -->
  <div class="row g-0 align-items-baseline flex-nowrap">

    <!-- Play-Symbol wird nur bei hover und active angezeigt -->
    <i class="fa fa-play fa-fw me-1 opacity-50"></i>

    <!-- gekurzter Itemname mit Highlight -->
    <span class="flex-grow-1"
          [highlight]="searchTerm">{{item.name|fileName:modeFilter}}</span>

    <!-- formattierte Laenge des Items -->
    <div class="item-length item-length-audio text-right ms-1 me-1">
      {{item.length | timeformatter}}
    </div>
  </div>

  <!-- Wenn Tracks angezeigt werden sollen, Tracks ausgeben (mit Highlight) -->
  <ng-container *ngIf="showTracks$ | async">
    <ul *ngIf="item.tracks">
      <li *ngFor="let track of item.tracks"
          class="me-1"
          [highlight]="searchTerm">
        {{track}}
      </li>
    </ul>
  </ng-container>
</button>