<!-- Ueber Items-Array gehen und die bereits gefilterte und sortierte Liste ausgeben -->
<div *ngFor="let item of items$ | async"
     class="row no-gutters align-items-center">

  <!-- Item in Playlist einfuegen oder von dort entfernen (nur bei Video) -->
  <button *ngIf="appMode === 'video'"
          (click)="toggleInPlaylist(item)"
          class="fa button-clean mr-1"
          [ngClass]="{
          'fa-plus text-success': !isInPlaylist(item),
          'fa-minus text-danger': isInPlaylist(item)
        }">
  </button>

  <!-- Button um einzelnes Item direkt zu starten -->
  <button (click)="playSingleItem(item)"
          class="box col text-left pl-2"
          [class.active-item]="item === activeItem">

    <!-- Zeile mit (hover-) Playsymbol, Name der Playlist und Laenge -->
    <div class="row no-gutters align-items-center">

      <!-- Play-Symbol wird nur bei hover und active angezeigt -->
      <i class="fa fa-play mr-2"></i>

      <!-- Itemname -->
      <span class="col">{{item.name}}</span>

      <!-- formattierte Laenge des Items -->
      <div class="item-length item-length-{{appMode}} text-right ml-1">
        {{item.length | timeformatter}}
      </div>
    </div>

    <!-- Wenn Tracks angezeigt werden sollen -->
    <ul *ngIf="showTracks$ | async">

      <!-- Tracks ausgeben -->
      <li *ngFor="let track of item.tracks">
        {{track}}
      </li>
    </ul>
  </button>
</div>