<!-- Mute -->
<button (click)="controlVolume('toggle-mute')"
        class="ripple fa fa-volume-off text-danger button-clean"></button>

<!-- leiser -->
<button (click)="controlVolume('change-volume', {step: 10, direction: '-'})"
        class="ripple fa fa-volume-down text-info button-clean"></button>

<!-- lauter -->
<button (click)="controlVolume('change-volume', {step: 10, direction: '+'})"
        class="ripple fa fa-volume-up text-info button-clean"></button>

<!-- 50% -->
<button (click)="controlVolume('set-volume', {volume: 50})"
        class="ripple text-info button-clean">
  <span>5</span>
</button>

<!-- 80% -->
<button (click)="controlVolume('set-volume', {volume: 80})"
        class="ripple text-info button-clean">
  <span>8</span>
</button>

<!-- 100% -->
<button (click)="controlVolume('set-volume', {volume: 100})"
        class="ripple text-info button-clean">
  <span>10</span>
</button>