<!-- Info ueber aktuell laufende Playlist -->
<ng-container *ngIf="(currentPlayedPlaylist$ | async) as currentPlayedPlaylist">

  <!-- Trennlinie -->
  <hr>

  <!-- Ueberschrift: "Gerade laeuft (die Playlist):" -->
  <div class="d-flex">
    <span class="font-weight-bold">Gerade läuft</span>
    <span class="font-weight-bold"
          *ngIf="currentPlayedPlaylist.items.length > 1">&nbsp;die Playlist</span>
    &nbsp;(Länge:&nbsp;{{currentPlayedPlaylist.length | timeformatter}})
  </div>

  <!-- Titel der akutell laufenden Playlist -->
  <div *ngFor="let item of currentPlayedPlaylist.items">
    {{item}}
  </div>
</ng-container>