<!-- auesserer Container -->
<div class="app-width container-fluid mt-3 mb-3">

  <!-- Form fuer Suche und Mode-Filter -->
  <form [formGroup]="myForm"
        class="mt-3">

    <!-- Zeile fuer Ueberschrift und Shutdown-Button -->
    <div class="row no-gutters">

      <!-- Ueberschrift -->
      <h1 class="col">Web Video Player</h1>

      <!-- Auswahl der Videolisten (Kindervideos, Jahresvideo) -->
      <select formControlName="select-video-mode"
              (change)="changeVideoMode()"
              class="width-auto form-control mr-2">
        <option value="kinder">Kindervideos</option>
        <option value="jahresvideo">Jahresvideos</option>
      </select>

      <!-- Button zum Pi herunterfahren -->
      <button (click)="shutdownPi()"
              class="fa fa-power-off text-danger button-clean">
      </button>
    </div>

    <!-- Info ueber aktuell laufende Playlist -->
    <ng-container *ngIf="currentPlayedPlaylist">

      <!-- Trennlinie -->
      <hr>

      <!-- Video stoppen -->
      <div class="row no-gutters cursor-pointer"
           (click)="stopVideo()">
        <button class="fa fa-stop text-primary button-clean mr-2"></button>
        <div class="font-weight-bold">Stop Video</div>
      </div>

      <!-- Trennlinie -->
      <hr>

      <!-- Ueberschrift: "Gerade laeuft (die Playlist):" -->
      <div class="d-flex font-weight-bold">
        <span>Gerade läuft</span>
        <span *ngIf="currentPlayedPlaylist.items.length > 1">&nbsp;die Playlist</span>
      </div>

      <!-- Titel der akutell laufenden Playlist -->
      <div *ngFor="let item of currentPlayedPlaylist.items, first as first">
        {{item}}
      </div>

      <!-- Wie lange ist die aktuell laufende Playlist? -->
      <div>Länge:
        <b>{{currentPlayedPlaylist.length}}</b>
      </div>

      <!-- Trennlinie -->
      <hr>
    </ng-container>

    <!-- Suchfeld fuer Filterung -->
    <div class="form-group mb-2">
      <input autofocus
             placeholder="Video suchen"
             class="search-field form-control"
             id="search"
             type="search"
             name="search"
             formControlName="search">
    </div>

    <!-- Filter-Buttons -->
    <div class="form-group mb-0">

      <!-- Ueber Buttons gehen -->
      <label *ngFor="let single_mode_filter of mode_filter"
             class="mode-filter cursor-pointer mr-2"
             [class.active]="single_mode_filter.id === myForm.controls.mode.value">

        <!-- Vorschaubild des Filters (sofern definiert) -->
        <img *ngIf="single_mode_filter.icon"
             height="50"
             width="50"
             src="assets/images/{{single_mode_filter.icon}}.png" />

        <!-- Name des Filters (sofern definiert) -->
        <span *ngIf="single_mode_filter.label">{{single_mode_filter.label}}</span>

        <!-- Usichtbare radio box -->
        <input class="d-none"
               type="radio"
               [value]="single_mode_filter.id"
               name="mode"
               formControlName="mode">
      </label>
    </div>
  </form>

  <!-- Info ueber Playlist, die gerade zusammengestellt wird -->
  <ng-container *ngIf="playlist.length">

    <!-- Trennlinie -->
    <hr>

    <!-- Ueberschrift "Playlist erstellen" -->
    <div class="font-weight-bold mb-1">Playlist erstellen</div>

    <!-- Ueber Titel in Playlist gehen -->
    <div *ngFor="let item of playlist, last as last"
         class="row no-gutters">

      <!-- Button, um Titel aus Playlist zu loeschen -->
      <button class="fa fa-minus text-danger button-clean mr-1"
              (click)="removeFromPlaylist(item)"></button>

      <!-- Laenge des Videos -->
      <div class="video-length text-right mr-2">{{format_length_string(item.length)}}</div>

      <!-- Name des Videos -->
      <div class="col">{{item.name}}</div>
    </div>

    <!-- Playlist starten -->
    <div class="row no-gutters cursor-pointer mt-3"
         (click)="startVideoPlaylist()">

      <!-- Play-Symbol -->
      <button class="fa fa-play text-primary button-clean mr-1"></button>

      <!-- Laenge der gesamten Playlist -->
      <div class="video-length text-right mr-2">{{getPlaylistLength()}}</div>

      <!-- Text "Playlist starten" -->
      <div class="col font-weight-bold">Playlist starten</div>
    </div>
  </ng-container>

  <!-- Trennlinie -->
  <hr>

  <!-- Infos zu Anzahl der Videos und Sortierbuttons -->
  <div class="row no-gutters align-items-center">

    <!-- Anzahl der Videos in Trefferliste -->
    <div class="col">{{(videos | modeFilter: myForm.controls.mode.value | searchFilter: myForm.controls.search.value).length}} Videos</div>

    <!-- Sortierbutton Name -->
    <button class="btn btn-outline-secondary p-1 ml-1 button-clean"
            (click)="setOrder('name')">
      <i class="fa fa-font"></i>
      <i class="fa fa-fw"
         [ngClass]="{
        'fa-sort': orderField !== 'name',
        'fa-sort-up': orderField === 'name'
    }"></i>
    </button>

    <div class="vertical-line"></div>

    <!-- Sortierbutton Länge -->
    <button class="btn btn-outline-secondary p-1 button-clean"
            (click)="setOrder('length')">
      <i class="fa fa-clock-o"></i>
      <i class="fa fa-fw"
         [ngClass]="{
          'fa-sort': orderField !== 'length',
          'fa-sort-up': orderField === 'length' && !reverseOrder,
        'fa-sort-down': orderField === 'length' && reverseOrder
      }"></i>
    </button>
  </div>

  <!-- Ueber Video-Array gehen und passende sortierte Liste ausgeben, ggf. nach Modus filtern ("Conni") oder Suchfeld ("kinder") filtern -->
  <div *ngFor="let video of videos | modeFilter: myForm.controls.mode.value | searchFilter: myForm.controls.search.value | orderBy: orderField: reverseOrder"

       class="row no-gutters align-items-center mt-2">

    <!-- Video in Playlist einfuegen oder von dort entfernen -->
    <button (click)="toggleInPlaylist(video)"
            class="fa button-clean mr-1"
            [ngClass]="{
              'fa-plus text-success': !isInPlaylist(video),
              'fa-minus text-danger': isInPlaylist(video)
            }">
    </button>

    <!-- Laenge des Videos -->
    <div class="video-length text-right mr-2">
      {{format_length_string(video.length)}}
    </div>

    <!-- Button um einzelnes Video zu starten -->
    <button (click)="playSingleVideo(video)"
            class="box col text-left pl-2"
            [class.active-video]="video.file === active_video">

      <!-- Play-Symbol -->
      <i class="fa fa-play ml-1 mr-1"></i>
      {{video.name}}
    </button>
  </div>
</div>