<!-- auesserer Container -->
<div class="app-width container-fluid mt-3 mb-3 mr-0 ml-0">

    <!-- Zeile fuer Ueberschrift und Shutdown-Button -->
    <div class="row no-gutters">

      <!-- Ueberschrift -->
      <h1 class="col">Web Video Player</h1>

      <!-- Umschalter fuer Videomodus -->
      <selectvideomode></selectvideomode>

      <!-- Button zum Pi herunterfahren -->
      <button (click)="shutdownPi()"
              class="fa fa-power-off text-danger button-clean">
      </button>
    </div>

    <currentplayedplaylistinspector></currentplayedplaylistinspector>

    <!-- Trennlinie -->
    <hr class="mode-filter-hr">

    <!-- Filter-Buttons -->
    <div class="mb-0">

      <!-- Filter-Buttons -->
      <modefilter></modefilter>
    </div>

   <playlistgenerator></playlistgenerator>

    <!-- Trennlinie -->
    <hr>

    <!-- Infos zu Anzahl der Videos, Suchfeld und Sortierbuttons -->
    <div class="row no-gutters d-flex align-items-center">

      <!-- Anzahl der Videos in Trefferliste -->
      <div class="video-count text-right mr-2">
        <!--
        {{(videos | modeFilter: myForm.controls.mode.value | searchFilter: myForm.controls.search.value).length}}

        -->
        <!-- korrekter Plural -->
        <!--
        <span *ngIf="(videos | modeFilter: myForm.controls.mode.value | searchFilter: myForm.controls.search.value).length !== 1; then tempVideos else tempVideo"></span>
        -->

        <!-- bei 0 oder > 1 = Videos -->
        <ng-template #tempVideos>Videos</ng-template>

        <!-- bei 1 = Video -->
        <ng-template #tempVideo>Video</ng-template>
      </div>

      <!-- Suchfeld fuer Filterung -->
      <div class="col">
         <searchfilter></searchfilter>
      </div>

      <!-- Sortierbuttons -->
      <div>
        <sortfilter></sortfilter>
      </div>
    </div>

    <!-- Trefferliste -->
    <resultlist></resultlist>
</div>