@import "~scss/variables.scss";

:host {
    position: relative;
    display: flex;
    flex: 1;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.item-count {
    width: 69px;
    font-size: 14px;
}

.mode-filter-hr {
    margin-bottom: 10px;
}

.player-controls {
    background: rgba($color-info-green, 0.1);
}

.mix {
    font-size: 20px;
}
