<!-- auesserer Container -->
<div *ngIf="!(shutdown$ | async); else shutdownTemp"
     class="app-width container mt-3 mb-3 mr-0 ml-0 no-gutters">

  <!-- Inspektor mit den moeglichen Werten, wird nur bei dev angezeigt -->
  <!--
  <debuginspector class="d-flex mb-3"
                  [ngClass]="{
                    'd-none': !production, 
                    'd-none': production
                  }"></debuginspector>-->

  <!-- Zeile fuer Ueberschrift, Mode-Select und Shutdown-Button -->
  <div class="row no-gutters">

    <!-- Ueberschrift z.B. "Web Video Player (dev)" -->
    <h1 class="col">{{envName}}</h1>

    <!-- Umschalter fuer Modus (Kindervideos vs. Jahresvideos) -->
    <selectmode class="mr-2"></selectmode>

    <!-- Pi-Kontrolle zum Herunterfahren -->
    <picontrol class="d-flex"></picontrol>
  </div>

  <!-- Lautstaerke Kontrolle -->
  <volume-control class="d-flex justify-content-evenly mb-2"></volume-control>

  <!-- Checkbox fuer zufaellige Wiedergabe (nur bei Modi, die random erlauben) -->
  <random-playback [class.hidden]="!(allowRandom$ | async)"
                   class="d-flex mt-2 mb-2"></random-playback>

  <!-- Anischt der aktuellen laufenden Playlist -->
  <currentplayedplaylistinspector [class.hidden]="position === -1"></currentplayedplaylistinspector>

  <!-- Steuerelemente (play, stop, seek) fuer Item-Wiedergabe -->
  <playercontrol *ngIf="position !== -1"
                 class="col d-flex justify-content-between"></playercontrol>

  <!-- Uebersicht ueber gerade erstellte Playlist, nur bei Video -->
  <playlistgenerator *ngIf="appMode === 'video'"></playlistgenerator>

  <!-- Trennlinie -->
  <hr class="mode-filter-hr">

  <!-- Filter-Buttons -->
  <modefilter></modefilter>

  <!-- Trennlinie -->
  <!-- <hr> -->

  <!-- Infos zu Anzahl der Items, Suchfeld und Sortierbuttons -->
  <div class="row no-gutters mb-3 mt-3">

    <!-- Suchfeld und Anzahl der Treffer -->
    <div class="col-12 col-sm mr-sm-2 row no-gutters d-flex align-items-center">

      <!-- Suchfeld fuer Filterung -->
      <searchfilter class="col"></searchfilter>

      <!-- Anzahl der Items in Trefferliste -->
      <resultlistinspector class="ml-2"></resultlistinspector>
    </div>

    <!-- Infos toggeln und Sortierbuttons -->
    <div class="col-12 mt-2 col-sm mt-sm-0 row no-gutters d-flex align-items-center justify-content-between justify-content-sm-end">

      <!-- Ansicht der Infos zu toggeln -->
      <toggletrackview class="mr-2 d-flex justify-content-end"></toggletrackview>

      <!-- Sortierbuttons -->
      <sortfilter class="d-flex align-items-center justify-content-end"></sortfilter>
    </div>
  </div>

  <!-- Trefferliste -->
  <resultlist></resultlist>
</div>

<!-- Anzeigen, wenn Pi heruntergefahren wurde -->
<ng-template #shutdownTemp>
  <div class="app-width container mt-3 mb-3 mr-0 ml-0 no-gutters">
    Die Anwendung wurde beendet
  </div>
</ng-template>