<!--Wrapper fuer sichtbare Elemte, waehrend Anwendung laueft -->
<div *ngIf="!(shutdown$ | async); else shutdownTemp"
     class="app-content container g-0 p-0 shadow">

    <!-- 1. Zeile: Modes, Countdown, Connection und Shutdown -->
    <div class="header row g-0 align-items-center py-1 ps-1 pe-2">

        <!-- Liste der Modes (kindermusik, hsp, cds) -->
        <selectmode class="w-auto"></selectmode>

        <!-- Views umschalten (Suche, Playlist, Mix) -->
        <view-control class="w-auto mr-auto ms-1"></view-control>

        <!-- Countdown -->
        <countdown class="g-0 w-auto"></countdown>

        <!-- Zustand der WSS-Verbindung -->
        <connection class="g-0 w-auto"></connection>

        <!-- Shutdown -->
        <picontrol class="g-0 w-auto"></picontrol>
    </div>

    <!-- 2. Zeile: Steuerelemente -->
    <div class="row g-0 py-1 px-2 justify-content-center player-controls align-items-center">

        <!-- Play, Pause, Stop, Seek  -->
        <playercontrol class="w-auto control-content row g-0"></playercontrol>

        <!-- Name der aktuellen Playlist -->
        <div class="col text-center font-weight-bold playlist-name">{{activeItemName}}</div>

        <!-- Lautstaerke -->
        <volume-control class="w-auto row g-0 justify-content-end"></volume-control>
    </div>

    <!-- Wenn Suche aktiv ist -->
    <div [class.hidden]="activeView !== 'search'"
         class="mt-3">

        <!-- 4. Zeile: Filter-Buttons -->
        <modefilter *ngIf="showModeFilterList"
                    class="d-flex mx-2"></modefilter>

        <!-- 5. Zeile: Suchfeld, Sortier-Button -->
        <div class="d-flex g-0 mx-2 mt-3">

            <!-- Suchfeld fuer Trefferliste -->
            <searchfilter class="col me-2"></searchfilter>

            <!-- Sortierbuttons der Trefferliste -->
            <sortfilter class="d-block"></sortfilter>
        </div>

        <!-- 6. Zeile: Trefferliste -->
        <resultlist class="mt-3 d-block"></resultlist>
    </div>

    <!-- Anischt der aktuell laufenden Playlist -->
    <playlist [class.hidden]="activeView !== 'playlist'"
              class="d-block"></playlist>

    <!-- Herz-Mix Ansicht -->
    <mix [class.hidden]="activeView !== 'mix'"></mix>
</div>

<!-- Anzeigen, wenn Pi heruntergefahren wurde -->
<ng-template #shutdownTemp>
    <div class="container me-0 ms-0 g-0 text-center">
        Der Player wurde beendet.
    </div>
</ng-template>