<!-- auesserer Container -->
<div class="app-width container mt-3 mb-3 mr-0 ml-0 no-gutters">

  <!-- Lautstaerke Kontrolle -->
  <volume-control class="d-flex justify-content-evenly mb-2"></volume-control>

  <!-- Inspektor mit den moeglichen Werten, wird nur bei dev angezeigt -->
  <debuginspector class="d-flex mb-3"
                  [ngClass]="{
                    'd-flex': !production, 
                    'd-none': production
                  }"></debuginspector>

  <!-- Zeile fuer Ueberschrift, Mode-Select und Shutdown-Button -->
  <div class="row no-gutters">

    <!-- Ueberschrift z.B. "Web Video Player (dev)" -->
    <h1>{{envName}}</h1>

    <!-- Steuerelemente (play, stop, seek) fuer Item-Wiedergabe -->
    <playercontrol class="col d-flex justify-content-around mr-2 ml-2"></playercontrol>

    <!-- Umschalter fuer Modus (Kindervideos vs. Jahresvideos) -->
    <selectmode class="mr-2"></selectmode>

    <!-- Pi-Kontrolle zum Herunterfahren -->
    <picontrol class="d-flex"></picontrol>
  </div>

  <!-- Checkbox fuer zufaellige Wiedergabe (nur bei Modi, die random erlauben) -->
  <random-playback *ngIf="allowRandom$ | async"
                   class="d-flex mt-2"></random-playback>

  <!-- Anischt der aktuellen laufenden Playlist -->
  <currentplayedplaylistinspector></currentplayedplaylistinspector>

  <!-- Trennlinie -->
  <hr class="mode-filter-hr">

  <!-- Filter-Buttons -->
  <modefilter></modefilter>

  <!-- Uebersicht ueber gerade erstellte Playlist, nur bei Video -->
  <playlistgenerator *ngIf="appMode === 'video'"></playlistgenerator>

  <!-- Trennlinie -->
  <hr>

  <!-- Infos zu Anzahl der Items, Suchfeld und Sortierbuttons -->
  <div class="row no-gutters">

    <div class="col-12 col-sm mr-sm-2 row no-gutters d-flex align-items-center">

      <!-- Anzahl der Items in Trefferliste -->
      <resultlistinspector class="item-count text-right mr-2"></resultlistinspector>

      <!-- Suchfeld fuer Filterung -->
      <searchfilter class="col"></searchfilter>
    </div>

    <div class="col-12 mt-2 col-sm mt-sm-0 row no-gutters d-flex align-items-center">

      <!-- Ansicht der Tracks zu toggeln (nur bei audio) -->
      <toggletrackview *ngIf="appMode === 'audio'"
                       class="col mr-2 d-flex justify-content-end"></toggletrackview>

      <!-- Sortierbuttons -->
      <sortfilter class="d-flex align-items-center justify-content-end"></sortfilter>
    </div>
  </div>

  <!-- Trefferliste -->
  <resultlist></resultlist>
</div>