//MH Variablen importieren
@import '~scss/variables.scss';
:host {
    position: relative;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 20px;
}

.app-content {
    background: $color-white;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin-left: 50px
}

.item-count {
    width: 69px;
    font-size: 14px;
}

.mode-filter-hr {
    margin-bottom: 10px;
}

.header-audio {
    background: $color-info-blue;
    color: $color-white;
}