{
    "nextcloudDir": "C:/Users/Martin/Desktop/Nextcloud/Raspi",
    "mediaDir": "C:/Users/Martin/Desktop/media",
    "connections": { 
        "mh": {
            "host": "192.168.0.124",
            "user": "root",
            "password": "martin12",
            "assetId": "pw"
        },
        "pw": {
            "host": "",
            "user": "root",
            "password": "",
            "assetId": "pw"
        },
        "sh": {
            "host": "",
            "user": "root",
            "password": "",
            "assetId": "pw"
        },
        "laila": {
            "host": "",
            "user": "root",
            "password": "",
            "assetId": "pw"
        },
        "luis": {
            "host": "",
            "user": "root",
            "password": "",
            "assetId": "pw"
        },
        "marlen": {
            "host": "",
            "user": "root",
            "password": "",
            "assetId": "marlen"
        }
    }
}