module.exports = {
    connection: {
        pi: {
            host: '',
            user: '',
            password: ''
        },
        vb: {
            host: '',
            user: '',
            password: ''
        }
    }
};