module.exports = {
    pw: {
        host: '',
        user: '',
        password: '',
        assetId: 'pw'
    },
    laila: {
        host: '',
        user: '',
        password: '',
        assetId: 'pw'
    },
    luis: {
        host: '',
        user: '',
        password: '',
        assetId: 'pw'
    },
    marlen: {
        host: '',
        user: '',
        password: '',
        assetId: 'marlen'
    },
    vb: {
        host: '',
        user: '',
        password: '',
        assetId: 'pw'
    }
};