module.exports = {
    pw: {
        host: '',
        user: '',
        password: ''
    },
    laila: {
        host: '',
        user: '',
        password: ''
    },
    luis: {
        host: '',
        user: '',
        password: ''
    },
    marlen: {
        host: '',
        user: '',
        password: ''
    },
    vb: {
        host: '',
        user: '',
        password: ''
    }
};